body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

h2 {
    color: #333;
}

form {
    margin-top: 20px;
}

input[type="text"], button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #005ac2;
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #005ac2;
}

a:hover {
    text-decoration: underline;
}
